body {
  background-color: #3e5c76;
}

.container {
  height: 450px;
  width: 810px;
  background-color: #f0ebd8;
  margin-left:25%;
}

.categories {
  width: 100%;
}

.categories ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: Helvetica;
  font-weight: 300;
  font-size: 20px;
}

.categories ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1.5px solid white;
}
.categories ul li {
  float: left;
  width: 33.3%;
}

.categories ul li a.active {
  background-color: #4caf50;
}

.categories ul li a:hover {
  background-color: #4caf50;
}

.off a {
  border-right: 0px solid;
}
.spanz {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 10px solid #333;
  border-bottom: 15px solid transparent;
  margin-left: 124px;
  position: absolute;
  display: none;
}

.all:hover > .spanz {
  display: block;
}
.on:hover > .spanz {
  display: block;
}
.off:hover > .spanz {
  display: block;
}

.container-1 {
  white-space: nowrap;
  position: relative;
}



.container-1 .icon {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 37px;
  z-index: 1;
  color: #4f5b66;
}

.search-container {
  box-sizing: border-box;
  height: 70px;
}

.headers {
  background-color: #333;
  color:white;
  width: 100%;
  border-top:10px solid #4caf50;
 
}

.first {
  background: #dbd6c2;
  font-size: 15px;
  background-color: red;
}

h3{
  display:inline;
  padding:20px;
}

table{
    border-collapse: collapse;
}

th.primary{
    height: 40px;
     width: 100px;
   color:white;

  }

th.usr{
  padding-left:30px;

}

th.stat{
  padding-left:55px;

}

th.game{
  padding-left:50px;

}

th.info{
    padding-left:180px;

}

th.secondary {
    text-align: center;
    padding: 10px;
    width: 150px;
    height: 40px;
}
th.imageh {
  width:30px;
}

th.image{
  width:30px;
  padding-right:30px;
}

.image-cont{
  max-width:130%;
  max-height:100%;
  margin-top:4px;
}

.user-links {
  text-decoration:none;
  color:black;
}

th.info-container{
  border-bottom:1px solid;
  width:300px;
  font-size:13px;
}